.git
.github
.idea
.libs
build
modules
autom4te.cache
vendor
**/*.o
**/*.lo
**/*.la
**/*.dep
*.tgz
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.in
libtool
ltmain.sh
Makefile
Makefile.*
aclocal.m4
acinclude.m4
install-sh
missing
mkinstalldirs
run-tests.php
tmp-php.ini
